<!-- Bottom Nav -->
<footer>
  <div class="text-center pb-3 fixed-bottom" style="background-color: white;">
    <hr>
    &copy; Copyright <span id="year"></span>. All rights reserved.
  </div>

  <body>
    <script>
      document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
  </body>
</footer>